
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-collapse.show .navbar-nav  {
  background-color: rgb(53, 85, 146);
  padding: 10px;

  border-radius: 10px;
}
.signBtn{
  background-color: rgb(53, 85, 146);
  border-radius: 5px;
  border: none;
  padding: 7px;
  width: 6rem;
  color: white;
  font-weight: bold;
}
.btnLight{
  background-color: rgb(53, 85, 146);
  border-radius: 5px;
  border: 3px solid white;
  padding: 9px;
  width: 7rem;
  color: white;
  font-weight: bold;
  
}
.btnLight:hover{
  background-color: rgb(243, 156, 17);
  box-shadow: 0 0 10px 0 white inset, 0 0 20px 2px grey;
  transform: scale(1.06);
}

.detBtn{
  border-radius: 5px;
  border: none;
  padding: 7px;
  width: 6rem;
  color: white;
  font-weight: bold;
  background-color: transparent;
  
}
.signBtn:hover{
  background-color: rgb(243, 156, 17);
  box-shadow: 0 0 10px 0 white inset, 0 0 20px 2px white;
}
.detBtn:hover{
  background-color: rgb(243, 156, 17);
  box-shadow: 0 0 10px 0 white inset, 0 0 20px 2px white;
}


.trainer{
  position: relative;
  z-index: 1;
  
}


.after {
  content: "";
  position: absolute;
  background-color: rgb(53, 85, 146);
  width: 74%;
  height: 104%;
  top: -2% ;
  left: 13%;
  clip-path: polygon(0 47%, 11% 47%, 11% 0, 54% 0, 54% 15%, 100% 15%, 100% 47%, 87% 47%, 87% 100%, 47% 100%, 47% 85%, 0% 85%);
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.trainer-1:hover + .after{
  clip-path: polygon(0 15%, 45% 16%, 45% 0, 85% 0, 85% 48%, 100% 48%, 100% 81%, 50% 81%, 50% 100%, 15% 100%, 15% 53%, 0 53%);
}



.mainT{
  background-color: rgb(241, 248, 255);
}

.trainer1{
  position: relative;
  z-index: 1;
}

.after1{
  content: "";
  position: absolute;
  background-color: rgb(53, 85, 146);
  width: 74%;
  height: 104%;
  top: -2% ;
  left: 13%;
  clip-path: polygon(0 47%, 11% 47%, 11% 0, 54% 0, 54% 15%, 100% 15%, 100% 47%, 87% 47%, 87% 100%, 47% 100%, 47% 85%, 0% 85%);
  transition: all 0.5s ease-in-out;
  z-index: -1;
}
.trainer-2:hover + .after1{
  clip-path: polygon(0 15%, 45% 16%, 45% 0, 85% 0, 85% 48%, 100% 48%, 100% 81%, 50% 81%, 50% 100%, 15% 100%, 15% 53%, 0 53%);
}

.trainer2{
  position: relative;
  z-index: 1;
}

.after2{
  content: "";
  position: absolute;
  background-color: rgb(53, 85, 146);
  width: 74%;
  height: 104%;
  top: -2% ;
  left: 13%;
  clip-path: polygon(0 47%, 11% 47%, 11% 0, 54% 0, 54% 15%, 100% 15%, 100% 47%, 87% 47%, 87% 100%, 47% 100%, 47% 85%, 0% 85%);
  transition: all 0.5s ease-in-out;
  z-index: -1;
}

.trainer-3:hover ~ .after2{
  clip-path: polygon(0 15%, 45% 16%, 45% 0, 85% 0, 85% 48%, 100% 48%, 100% 81%, 50% 81%, 50% 100%, 15% 100%, 15% 53%, 0 53%);
}
.before1{
  content: "";
  position: absolute;
  background-color:rgb(53, 85, 146) ;
  width: 60%;
  height: 30%;
  top: 60% ;
  left: 20%;
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  transition: opacity 0.3s ease, z-index 0s 0.3s; 
  z-index: -1;
  color: white;
  
  
}
.trainer-1:hover ~.before1{
  opacity: 1; 
  z-index: 1; 
  
}

.before2{
  content: "";
  position: absolute;
  background-color:rgb(53, 85, 146) ;
  width: 60%;
  height: 30%;
  top: 60% ;
  left: 20%;
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  transition: opacity 0.3s ease, z-index 0s 0.3s; 
  z-index: -1;
  color: white;
  
  
}
.trainer-2:hover ~.before2{
  opacity: 1; 
  z-index: 1; 
  
}


.before3{
  content: "";
  position: absolute;
  background-color:rgb(53, 85, 146) ;
  width: 60%;
  height: 30%;
  top: 60% ;
  left: 20%;
  clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
  transition: opacity 0.3s ease, z-index 0s 0.3s; 
  z-index: -1;
  color: white;
  
  
}
.trainer-3:hover ~.before3{
  opacity: 1; 
  z-index: 1; 
  
}

.bmiTart{
  position: relative;
  z-index: 1;
}

.arrow{
  content: "";
  position: absolute;
  background-color: green;
  width: 5%;
  height: 8%;
  bottom: -2;
  left: 8%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transition: opacity 0.3s ease, z-index 0s 0.3s; /* Geçiş efektlerini tanımla */
  z-index: 1;
}


.card1{
  position:relative;

}

.effect1{
  content: "";
  position: absolute;
  background-color: rgb(53, 85, 146);
  width: 90%;
  height: 20%;
  top: 40% ;
  left: 5%;
  transition: all 0.5s ease-in-out;
  z-index: -1;
  border-radius: 10px;
}

.img1:hover ~ .effect1{
  width: 106%;
  height: 104%;
  top: -2%;
  left: -3%;

}

.cart{
  background-color: rgb(53, 85, 146);
  position: relative;
}
.cart:hover{
  transform: scale(1.06);
  background-color: rgb(243, 156, 17);
  color: rgb(53, 85, 146);
  box-shadow: 0 0 10px 0 white inset, 0 0 20px 2px grey;

}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}


.addto:hover ~ .effect1{
  width: 500%;
  height: 500%;
  top: -2%;
  left: -3%;
}

.flag1{
  content: "";
  position: absolute;
  background-color: rgb(53, 85, 146);
  width: 20%;
  height: 100%;
  top: 42%;
  left: 0%;
  clip-path: polygon(51% 56%, 0 57%, 51% 100%);
  transition: opacity 0.3s ease, z-index 0s 0.3s; /* Geçiş efektlerini tanımla */
  z-index: 1;
  opacity: 60%;
}
.flag2{
  content: "";
  position: absolute;
  background-color: rgb(53, 85, 146);
  width: 22%;
  height: 100%;
  top: 42%;
  left: 78%;
  clip-path: polygon(51% 56%, 100% 56%, 51% 100%);
  transition: opacity 0.3s ease, z-index 0s 0.3s; /* Geçiş efektlerini tanımla */
  z-index: 1;
  opacity: 60%;
}
.inf2{
  margin-top: 2rem;
   
 }
 .inf1{
   margin-top: 2rem;
   
 }


@media only screen and (max-width: 576px) {

  
  .map {
      width: 350px;
      margin-left: 8px;
      margin-top: 20px;
      height: 350px;
  }
   
  .mobnum{
    
    margin: 0 auto;
    width: 90%;
  }
  .card1{
    width: 70%;
    margin: 0 auto;
   }
 
 .signBtn{
  display: block;
  width: 100%;
 }
 .detBtn{
  display: block;
  width: 100%;
 }
 .btnLight{
  width: 90%;
  margin: 0 auto ;
 }
 .powerfull{
  background-color:rgb(50, 85, 147);
   width: 110px;
    text-shadow:2px 2px black;
     padding-left: 10px;
      border-radius: 3px;
       font-weight: bold;
       padding-right: 1rem;
 }
 .ourclasses{
  width: 95%;
  margin: auto;
 }
 .bmiCalc{
  width: 90%;
  margin: auto;
 }
 .reviewCli{
  width: 90%;
  margin: auto;
 }

}
.powerfull{
  background-color:rgb(50, 85, 147);
   width: 8rem;
   height: 1.6rem;
    text-shadow:2px 2px black;
      border-radius: 3px;
       font-weight: bold;
       text-align: center;
       font-size: 1.2rem;
       margin-bottom: -10px;
      
 }


 